<!DOCTYPE html>
<!--Page for creating a patient and adding them to the database.-->
{% extends "base.html" %}
{% block content %}
<header>
  <h1>Enter Patient Information</h1>
</header>

<form action="" method="post">

    <input type="text" placeholder="Username" name="username" value="{{
			request.form.username}}">
	<br></br>

    <input type="text" placeholder="Name" name="name" value="{{
			request.form.name}}">
	<br></br>

	<input type="password" placeholder="Password" name="password" value="{{
			request.form.password}}"
	<br></br>
	<input type="radio" name="gender" value="male">Male
	<input type="radio" name="gender" value='female'>Female
	<br></br>
	<input type="email" placeholder="Email" name="email" value="{{
			request.form.email}}">
	<br></br>
	<input class="btn btn-default" type="submit" value="submit">
</form>

<footer>
  <p>Click <a href="/login">here</a> to go to patient login.</p>
<footer>
{% endblock %}
